body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #414055;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #afadf7;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
}

h1 {
    text-align: center;
    color: #000;
}

form {
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #000;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
    width: 85%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #ffffff;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #6200b3;
}